<app-item-edit-modal
  [nameField]="form.name"
  [canSave]="canSave()"
  [isOpen]="isOpen()"
  [saveButtonText]="saveButtonText()"
  [dialogTitle]="dialogTitle()"
  [closeButtonText]="closeButtonText"
  (confirmed)="confirm()"
  (cancelled)="close()"
  (dismissed)="close()"
>
  <ion-item>
    <ion-select
      labelPlacement="stacked"
      label="{{ 'cash.label.kind' | translate }}"
      [formField]="form.kind"
      data-testid="account-kind"
    >
      @for (k of kinds; track k) {
        <ion-select-option [value]="k">
          {{ kindLabelKeys[k] | translate }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input
      labelPlacement="stacked"
      autocapitalize="characters"
      label="{{ 'cash.label.iban' | translate }}"
      placeholder="{{ 'cash.account-dialog.iban-placeholder' | translate }}"
      [formField]="form.iban"
    />
  </ion-item>
  <ion-note class="sr-field-note">
    {{ 'cash.account-dialog.iban-hint' | translate }}
  </ion-note>

  <app-money-input
    label="{{ 'cash.label.opening-balance' | translate }}"
    [formField]="form.openingBalanceCents"
  />
  @if (balanceInvalid()) {
    <ion-note color="danger" class="sr-field-note">
      {{ 'cash.account-dialog.balance-invalid' | translate }}
    </ion-note>
  }

  <ion-item>
    <ion-input
      labelPlacement="stacked"
      type="date"
      label="{{ 'cash.label.opening-date' | translate }}"
      [formField]="form.openingDate"
    />
  </ion-item>

  <ion-item>
    <ion-toggle
      [formField]="form.excludedFromAllowance"
      data-testid="account-excluded-toggle"
    >
      {{ 'cash.account.excluded-from-allowance' | translate }}
    </ion-toggle>
  </ion-item>
  <ion-note class="sr-field-note">
    {{ 'cash.account.excluded-hint' | translate }}
  </ion-note>
</app-item-edit-modal>
