<ion-list #ionList>
  @if (header()) {
    @if (listHeader()) {
      <ion-list-header [color]="headerColor()">
        <ion-label>{{ header() }}</ion-label>
      </ion-list-header>
    } @else {
      <ion-toolbar [color]="headerColor()">
        <ion-label class="ion-padding-start">
          {{ header() }}
        </ion-label>
        <ng-content />
      </ion-toolbar>
    }
  }
  @for (item of items(); track item.id) {
    <ng-container
      *ngTemplateOutlet="
        itemTemplate();
        context: { $implicit: item, ionList: ionList, categories: catalog() }
      "
    />
  }
</ion-list>
