<ion-list #ionList>
  @if (header()) {
    @if (listHeader()) {
      <ion-list-header [color]="headerColor()">
        <ion-label>{{ header() }}</ion-label>
      </ion-list-header>
    } @else {
      <ion-toolbar [color]="headerColor()">
        <ion-label class="ion-padding-start">
          {{ header() }}
        </ion-label>
        <ng-content />
      </ion-toolbar>
    }
  }
  @if (reorderable()) {
    <ion-reorder-group
      [disabled]="false"
      (ionReorderEnd)="onReorderEnd($any($event))"
    >
      <ng-container *ngTemplateOutlet="rows" />
    </ion-reorder-group>
  } @else {
    <ng-container *ngTemplateOutlet="rows" />
  }

  <ng-template #rows>
    @for (item of items(); track item.id) {
      <ng-container
        *ngTemplateOutlet="
          itemTemplate();
          context: {
            $implicit: item,
            ionList: ionList,
            categories: catalog(),
            reorderable: reorderable(),
          }
        "
      />
    }
  </ng-template>
</ion-list>
