<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        (click)="goBack()"
        [attr.aria-label]="'a11y.back' | translate"
      >
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          aria-hidden="true"
        />
      </ion-button>
    </ion-buttons>
    <ion-title>{{ rxPlayer()?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="openPlayerEdit()"
        color="primary"
        [attr.aria-label]="'a11y.edit' | translate"
      >
        <ion-icon slot="icon-only" name="create-outline" aria-hidden="true" />
      </ion-button>
      <ion-button
        (click)="openSettings($event)"
        color="primary"
        [attr.aria-label]="'trackplay.a11y.settings' | translate"
      >
        <ion-icon slot="icon-only" name="options-outline" aria-hidden="true" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (rxPlayer(); as player) {
    <div class="ion-padding">
      <p class="sr-hud">
        {{
          'trackplay.stats.win-loss-open'
            | translate
              : {
                  win: rxStats().win,
                  loss: rxStats().loss,
                  open: rxStats().open,
                }
        }}
      </p>
      <p class="sr-hud">
        {{ 'trackplay.stats.play' | translate: { count: rxStats().play } }}
      </p>
    </div>

    <ion-button
      expand="block"
      fill="outline"
      class="ion-text-left ion-margin-horizontal"
      (click)="createGame()"
    >
      <ion-icon slot="start" name="add-outline" aria-hidden="true" />
      {{ 'trackplay.action.new-game' | translate }}
    </ion-button>

    <p class="sr-hud ion-padding-horizontal">
      {{ 'trackplay.list-header.games-for-player' | translate }}
    </p>
    <ion-list #list>
      @for (game of rxGames(); track game.id) {
        <app-trackplay-game-list-item
          [game]="game"
          [typeName]="typeName(game)"
          [ionList]="list"
          (selectGame)="goToGame(game.id)"
          (editRequested)="openGameEdit(game)"
          (deleteRequested)="deleteGame(game)"
        />
      }
    </ion-list>
  }
</ion-content>
