<ion-item-sliding
  (ionDrag)="deleteOrCartOnSwipe($event)"
  data-testid="list-row"
>
  @let startSwipe = startSwipeAction();
  @if (startSwipe) {
    <ion-item-options side="start">
      <ion-item-option
        color="success"
        [expandable]="true"
        (click)="emitStartSwipe()"
        [attr.aria-label]="startSwipe.labelKey | translate"
      >
        <ion-icon
          [name]="startSwipe.icon"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-item-option>
    </ion-item-options>
  }

  <ion-item
    [button]="true"
    (click)="selectItem.emit()"
    lines="full"
    [class.with-status]="hasStatusBar()"
    data-testid="list-row-select"
  >
    @if (hasStatusBar()) {
      <div class="sr-status-bar" data-testid="list-row-status">
        <ion-text [color]="statusColor()"></ion-text>
      </div>
    }

    <ion-reorder slot="start"></ion-reorder>
    <ion-label
      class="ion-text-wrap"
      [class.bought]="crossedOut()"
      data-testid="list-row-label"
    >
      <h2 data-testid="list-row-title">{{ title() }}</h2>
      @if (categoryNote()) {
        <ion-note data-testid="list-row-category">{{
          categoryNote()
        }}</ion-note>
      }
      <ng-content select="[itemDetails]"></ng-content>
    </ion-label>

    @if (showQuantityActions()) {
      <ion-buttons slot="end">
        <ion-button
          (click)="incrementQuantity($event)"
          [attr.aria-label]="'a11y.increase-quantity' | translate"
        >
          <ion-icon name="add" aria-hidden="true"></ion-icon>
        </ion-button>
        <ion-button
          (click)="decrementQuantity($event)"
          [attr.aria-label]="'a11y.decrease-quantity' | translate"
        >
          <ion-icon name="remove" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option
      color="danger"
      [expandable]="true"
      (click)="emitDeleteItem()"
    >
      {{ 'item-list.action.delete' | translate }}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
