<app-page-header
  [label]="'page-title.office-time' | translate"
  hideButtons="true"
>
  <ion-button
    slot="end"
    toolbar
    fill="clear"
    routerLink="/office-time/settings"
    [attr.aria-label]="'office-time.a11y.settings' | translate"
    data-testid="office-time-settings-link"
  >
    <ion-icon
      slot="icon-only"
      icon="settings-outline"
      color="primary"
      aria-hidden="true"
    ></ion-icon>
  </ion-button>
</app-page-header>

<ion-content>
  <div class="dash-grid">
    @for (item of visibleDashboardItems(); track item) {
      @defer (on viewport; prefetch on idle) {
        @switch (item) {
          @case ('date') {
            <app-dash-date />
          }
          @case ('button') {
            <app-dash-button />
          }
          @case ('wordclock') {
            <app-dash-wordclock
              [title]="'office-time.page.wordclock' | translate"
            />
          }
          @case ('officedays-list') {
            <app-dash-days-list
              [title]="'office-time.page.stats.office-days' | translate"
              [days]="officedayKeys()"
            />
          }
          @case ('officedays-edit') {
            <app-dash-office-days-edit
              [title]="'office-time.page.stats.office-days.edit' | translate"
              [officedays]="officedayKeys()"
              [holidays]="holidates()"
              [freedays]="freedayKeys()"
            />
          }
          @case ('freedays-list') {
            <app-dash-days-list
              [title]="'office-time.page.stats.freedays.list' | translate"
              [days]="freedayKeys()"
            />
          }
          @case ('freedays-edit') {
            <app-dash-freedays-edit
              [title]="'office-time.page.stats.freedays.edit' | translate"
              [freedays]="freedayKeys()"
              [holidays]="holidates()"
            />
          }
          @case ('stats-year') {
            <app-dash-stats
              [title]="'office-time.page.stats.year' | translate"
              [data]="statsYear()"
              [showPercentage]="dashboardSettings().showPercentageCard"
            />
          }
          @case ('stats-quarter') {
            <app-dash-stats
              [title]="'office-time.page.stats.quarter' | translate"
              [data]="statsQuarter()"
              [showPercentage]="dashboardSettings().showPercentageCard"
            />
          }
          @case ('stats-month') {
            <app-dash-stats
              [title]="'office-time.page.stats.month' | translate"
              [data]="statsMonth()"
              [showPercentage]="dashboardSettings().showPercentageCard"
            />
          }
          @case ('stats-week') {
            <app-dash-stats
              [title]="'office-time.page.stats.week' | translate"
              [data]="statsWeek()"
              [showPercentage]="dashboardSettings().showPercentageCard"
            />
          }
          @case ('holidays') {
            <app-dash-holidays
              [title]="'office-time.page.holidays' | translate"
              [holidays]="holidays()"
            />
          }
        }
      } @placeholder {
        <app-dash-card-skeleton />
      }
    }
  </div>
</ion-content>
