<app-page-header
  icon="business-outline"
  [label]="'page-title.office-time' | translate"
  hideButtons="true"
>
  <ion-button
    slot="end"
    toolbar
    fill="clear"
    routerLink="/settings"
    [attr.aria-label]="'officetime.a11y.settings' | translate"
  >
    <ion-icon
      slot="icon-only"
      icon="settings-sharp"
      color="primary"
      aria-hidden="true"
    ></ion-icon>
  </ion-button>
</app-page-header>

<ion-content>
  <div class="dash-grid">
    @for (item of visibleDashboardItems(); track item) {
      @defer (on viewport; prefetch on idle) {
        @switch (item) {
          @case ('date') {
            <app-dash-date />
          }
          @case ('button') {
            <app-dash-button />
          }
          @case ('wordclock') {
            @if (dashboardSettings().showWordclockCard) {
              <app-dash-wordclock
                [title]="'officetime.page.wordclock' | translate"
              />
            }
          }
          @case ('officedays-list') {
            @if (dashboardSettings().showOfficedaysCardList) {
              <app-dash-days-list
                [title]="'officetime.page.stats.office-days' | translate"
                [days]="officedays()"
              />
            }
          }
          @case ('officedays-edit') {
            @if (dashboardSettings().showOfficedaysCardEdit) {
              <app-dash-office-days-edit
                [title]="'officetime.page.stats.office-days.edit' | translate"
                [officedays]="officedays()"
                [holidays]="holidates()"
                [freedays]="freedays()"
              />
            }
          }
          @case ('freedays-list') {
            @if (dashboardSettings().showFreedaysCardList) {
              <app-dash-days-list
                [title]="'officetime.page.stats.freedays.list' | translate"
                [days]="freedays()"
              />
            }
          }
          @case ('freedays-edit') {
            @if (dashboardSettings().showFreedaysCardEdit) {
              <app-dash-freedays-edit
                [title]="'officetime.page.stats.freedays.edit' | translate"
                [freedays]="freedays()"
                [holidays]="holidates()"
              />
            }
          }
          @case ('stats-year') {
            @if (dashboardSettings().showStatsYear) {
              <app-dash-stats
                [title]="'officetime.page.stats.year' | translate"
                [data]="statsYear()"
                [showPercentage]="dashboardSettings().showPercentageCard"
              />
            }
          }
          @case ('stats-quarter') {
            @if (dashboardSettings().showStatsQuarter) {
              <app-dash-stats
                [title]="'officetime.page.stats.quarter' | translate"
                [data]="statsQuarter()"
                [showPercentage]="dashboardSettings().showPercentageCard"
              />
            }
          }
          @case ('stats-month') {
            @if (dashboardSettings().showStatsMonth) {
              <app-dash-stats
                [title]="'officetime.page.stats.month' | translate"
                [data]="statsMonth()"
                [showPercentage]="dashboardSettings().showPercentageCard"
              />
            }
          }
          @case ('stats-week') {
            @if (dashboardSettings().showStatsWeek) {
              <app-dash-stats
                [title]="'officetime.page.stats.week' | translate"
                [data]="statsWeek()"
                [showPercentage]="dashboardSettings().showPercentageCard"
              />
            }
          }
          @case ('holidays') {
            @if (dashboardSettings().showHolidaysCard) {
              <app-dash-holidays
                [title]="'officetime.page.holidays' | translate"
                [holidays]="holidays()"
              />
            }
          }
        }
      } @placeholder {
        <app-dash-card-skeleton />
      }
    }
  </div>
</ion-content>
