@use '../../../../theme/dashboard' as dashboard;

:host {
  --app-content-max-width: 100%;
}

$padding: 16px;
.dash-grid {
  padding: $padding;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(dashboard.$sm-item-width, 1fr)
  );
  gap: 1rem;
  align-items: stretch;
  grid-auto-flow: dense;

  @media (min-width: #{dashboard.$sm-item-width * 2 + $padding * 3}) {
    app-dash-officedays-edit,
    app-dash-freedays-edit,
    app-dash-holidays,
    app-dash-days-list {
      grid-column: span 2;
    }
  }
}
