<ion-modal
  [isOpen]="rxState().isEditing === true && rxState().listId === listId()"
  (didDismiss)="closedDialog()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelChanges()"
            >{{ 'grocery.edit-item.dialog.button.close' | translate }}
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            (click)="submitChanges()"
            [disabled]="nameInput.invalid"
            >{{ rxState().saveButtonText ?? '' | translate }}</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <h3 class="ion-padding-start">
        {{ rxState().dialogTitle ?? '' | translate }}
      </h3>
      <ion-list>
        <app-item-name-input
          #nameInput
          [item]="rxItem()"
          [listItems]="listItems()"
          (updateValue)="updateName($event)"
        ></app-item-name-input>
        <ng-content></ng-content>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
