@for (condition of conditions(); track $index) {
  @let field = condition.field().value();
  <div class="cash-condition" data-testid="condition-row">
    <div class="cash-condition__row">
      <ion-select
        interface="popover"
        data-testid="condition-field"
        [attr.aria-label]="'cash.a11y.field' | translate"
        [value]="field"
        (ionChange)="
          fieldPicked.emit({ index: $index, field: $any($event).detail.value })
        "
      >
        @for (textField of textFields; track textField) {
          <ion-select-option [value]="textField">
            {{ fieldLabelKeys[textField] | translate }}
          </ion-select-option>
        }
        <ion-select-option value="amount">
          {{ fieldLabelKeys['amount'] | translate }}
        </ion-select-option>
      </ion-select>

      <ion-select
        interface="popover"
        [attr.aria-label]="'cash.a11y.operator' | translate"
        [formField]="condition.op"
      >
        @for (op of opsFor(field); track op) {
          <ion-select-option [value]="op">
            {{ opLabelKeys[op] | translate }}
          </ion-select-option>
        }
      </ion-select>

      <ion-button
        fill="clear"
        color="medium"
        [attr.aria-label]="'cash.a11y.remove-condition' | translate"
        (click)="removed.emit($index)"
      >
        <ion-icon slot="icon-only" name="close-outline" aria-hidden="true" />
      </ion-button>
    </div>

    <ion-item>
      <ion-input
        data-testid="condition-value"
        [attr.aria-label]="'cash.a11y.value' | translate"
        [placeholder]="
          (field === 'amount' ? 'cash.label.amount' : 'cash.label.value')
            | translate
        "
        [formField]="condition.value"
      />
    </ion-item>
    @if (amountInvalidRows()[$index]) {
      <ion-note color="danger" class="sr-field-note">
        {{ 'cash.rule-dialog.amount-invalid' | translate }}
      </ion-note>
    }

    @if (isTextField(field)) {
      <ion-item>
        <ion-toggle [formField]="condition.caseSensitive">
          {{ 'cash.label.case-sensitive' | translate }}
        </ion-toggle>
      </ion-item>
    }
  </div>
}
