<app-page-header
  icon="settings-outline"
  hideButtons="true"
  [label]="'page-title.office-time-settings' | translate"
/>

<ion-content>
  <app-page-return />

  @let settings = dashboardSettings();
  @let targetDays = targetOfficeDaysPerWeek();
  @if (targetDays !== null && settings) {
    <ion-list>
      <ion-item>
        <ion-range
          labelPlacement="stacked"
          [label]="
            'office-time.page.settings.targetOfficeDaysPerWeek' | translate
          "
          [min]="0"
          [max]="5"
          [pin]="true"
          [pinFormatter]="pinFormatter"
          [snaps]="true"
          [step]="0.5"
          [value]="targetDays"
          (ionChange)="changeTargetOfficeDaysPerWeek($any($event))"
        />
      </ion-item>
      <ion-item>
        <ion-toggle
          data-testid="office-reminder-toggle"
          [checked]="reminder().enabled"
          (ionChange)="toggleReminder($event.detail.checked)"
        >
          {{ 'office-time.reminder.label' | translate }}
        </ion-toggle>
      </ion-item>
      @if (reminder().enabled) {
        <ion-item>
          <ion-input
            type="time"
            labelPlacement="stacked"
            data-testid="office-reminder-time"
            [label]="'office-time.reminder.time' | translate"
            [value]="reminderTime()"
            (ionChange)="setReminderTime($event.detail.value)"
          />
        </ion-item>
      }
      <ion-item>
        <ion-note>{{ 'office-time.reminder.hint' | translate }}</ion-note>
      </ion-item>
      @for (setting of settings; track setting.key) {
        <ion-item>
          <ion-toggle
            [value]="setting.key"
            [checked]="setting.value"
            (ionChange)="changeDashboardSettings($event)"
          >
            <ion-label>{{ setting.labelKey | translate }}</ion-label>
          </ion-toggle>
        </ion-item>
      }
      <ion-item>
        <ion-button id="present-alert" [color]="'danger'">
          {{ 'office-time.page.settings.reset.button' | translate }}
        </ion-button>
      </ion-item>
    </ion-list>
  }
  <ion-alert
    trigger="present-alert"
    [header]="'office-time.page.settings.reset.header' | translate"
    [subHeader]="'office-time.page.settings.reset.subheader' | translate"
    [message]="'office-time.page.settings.reset.message' | translate"
    [buttons]="alertButtons"
  />
</ion-content>
