<app-page-header
  [icon]="icon()"
  [label]="pageHeader()"
  [heading]="heading()"
  [backHref]="backHref()"
  [disabled]="!!facade.searchResult()?.exactMatch"
  (addItem)="facade.showCreateDialog()"
>
  <app-item-list-searchbar
    [query]="facade.state()?.searchQuery"
    (queryChange)="facade.search($event)"
    (hitEnter)="facade.addItemFromSearch()"
  />
  @if (facade.searchResult()?.exactMatch) {
    <ion-note
      class="sr-field-note exact-match-note"
      data-testid="exact-match-note"
    >
      {{ 'item-list.exact-match.note' | translate }}
    </ion-note>
  }
  <app-item-list-toolbar
    [activeSort]="facade.state()?.sort"
    [options]="facade.sortOptions?.() ?? []"
    [sortable]="facade.sortable?.() ?? true"
    (selectSortMode)="facade.setSortMode($event)"
  >
    <ng-content select="[toolbarActions]" />
    <ng-content select="[toolbarActionsEnd]" toolbarActionsEnd />
    @if (canManageCategories) {
      <ion-button
        toolbarActionsEnd
        (click)="manageCategories()"
        [attr.aria-label]="'categories.a11y.manage' | translate"
      >
        <ion-icon
          slot="icon-only"
          name="pricetags-outline"
          aria-hidden="true"
        />
      </ion-button>
    }
  </app-item-list-toolbar>

  @if (facade.catalog?.()?.length) {
    <app-category-filter-bar
      [catalog]="facade.catalog?.() ?? []"
      [extraFilters]="extraFilters()"
      [active]="facade.state()?.filterBy"
      (selectCategory)="facade.selectCategory?.($event)"
      (clearFilter)="clearFilter()"
    />
  }

  <ng-content select="[headerEnd]" toolbar></ng-content>
</app-page-header>

<ion-content>
  <ng-content select="[beforeList]"></ng-content>

  <app-item-list
    [items]="facade.items()"
    [catalog]="facade.catalog?.() ?? []"
    [itemTemplate]="itemTemplate()"
  />
  <app-item-list-empty
    [isEmptyList]="isKnownEmpty()"
    [isSearching]="!!facade.searchResult()"
    [isFiltered]="!!facade.state()?.filterBy"
    [searchTerm]="facade.searchResult()?.searchTerm"
    (emptyList)="facade.showCreateDialog()"
    (emptySearch)="facade.addItemFromSearch()"
    (clearFilter)="clearFilter()"
  />

  <ng-content select="[afterList]"></ng-content>
</ion-content>
