<div class="spend-quick-add">
  <ion-segment [value]="method()">
    @for (option of methods; track option) {
      <ion-segment-button
        data-testid="spend-method-option"
        [value]="option"
        (click)="setMethod(option)"
      >
        {{ methodLabelKeys[option] | translate }}
      </ion-segment-button>
    }
  </ion-segment>

  @if (hasNoAccount()) {
    <ion-note color="warning" class="cash-hint" data-testid="spend-no-account">
      {{ emptyLabelKeys[method()] | translate }}
    </ion-note>
  } @else {
    <div class="spend-quick-add__presets">
      @for (preset of presets; track preset) {
        <ion-button
          size="small"
          data-testid="spend-preset"
          [fill]="amountCents() === preset ? 'solid' : 'outline'"
          (click)="pickPreset(preset)"
        >
          {{ preset | moneyEur }}
        </ion-button>
      }
    </div>

    <app-money-input
      [label]="'cash.label.amount' | translate"
      [(value)]="amountCents"
    />

    <app-cash-category-picker [(value)]="categoryId" />

    @if (needsAccountChoice()) {
      <ion-item>
        <ion-select
          labelPlacement="stacked"
          data-testid="spend-account"
          [label]="'cash.spend.account' | translate"
          [value]="account()?.id"
          (ionChange)="chooseAccount($event.detail.value)"
        >
          @for (option of accounts(); track option.id) {
            <ion-select-option [value]="option.id">
              {{ option.name }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    } @else if (account()) {
      <ion-item lines="none">
        <ion-label>{{ 'cash.spend.account' | translate }}</ion-label>
        <ion-note slot="end">{{ account()?.name }}</ion-note>
      </ion-item>
    }

    @if (settlesLater()) {
      <ion-note class="cash-hint" data-testid="spend-settles-later">
        {{ 'cash.spend.settles-later' | translate }}
      </ion-note>
    }

    <ion-button
      expand="block"
      data-testid="spend-book"
      [disabled]="!canBook()"
      (click)="book()"
    >
      {{ 'cash.spend.book' | translate }}
    </ion-button>
  }
</div>
