<ion-item>
  <ion-input
    labelPlacement="stacked"
    class="trigger"
    type="text"
    id="open_cal"
    [label]="label()"
    [disabled]="disabled()"
    [value]="value() ?? '' | date"
  />
  <ion-modal
    trigger="open_cal"
    [attr.aria-label]="'a11y.date-picker' | translate"
    [keepContentsMounted]="true"
    [initialBreakpoint]="0.65"
  >
    <ng-template>
      <ion-datetime
        presentation="date"
        mode="md"
        [value]="value()"
        [showDefaultButtons]="true"
        [showClearButton]="true"
        (ionChange)="updateInputValue($event)"
      />
    </ng-template>
  </ion-modal>
</ion-item>
