<ion-item>
  <ion-input
    labelPlacement="stacked"
    [label]="label()"
    [disabled]="disabled()"
    class="trigger"
    [value]="value() ?? '' | date"
    type="text"
    id="open_cal"
  ></ion-input>
  <ion-modal
    trigger="open_cal"
    [attr.aria-label]="'a11y.date-picker' | translate"
    [keepContentsMounted]="true"
    [initialBreakpoint]="0.65"
  >
    <ng-template>
      <ion-datetime
        presentation="date"
        mode="md"
        (ionChange)="updateInputValue($event)"
        [value]="value()"
        [showDefaultButtons]="true"
        [showClearButton]="true"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-item>
