<app-list-page
  class="ion-page"
  pageHeader="{{ 'page-title.groceries-shopping' | translate }}"
  listHeader="{{ 'grocery.list-header.shopping' | translate }}"
  [itemTemplate]="shoppingItem"
>
  <app-item-list-quick-add
    quickAdd
    (quickAddItem)="facade.addItemFromSearch()"
    (quickCreateCategory)="facade.addCategoryFromSearch()"
    (quickCreateProduct)="facade.showCreateProductDialog()"
  ></app-item-list-quick-add>
  <ion-buttons slot="end" listActions>
    <ion-button [hidden]="!rxState().items.length" (click)="openActionSheet()">
      <ion-icon name="bag-add" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  @if (showScanButton) {
    <ion-button (click)="scan()" toolbarActions>
      <ion-icon slot="icon-only" name="barcode-outline" />
    </ion-button>
  }
  <app-grocery-search-result
    searchExtras
    [results]="facade.searchResult()"
    [catalog]="facade.state()?.categories ?? []"
    (selectProduct)="facade.addProduct($event)"
    (selectStorageItem)="facade.addStorageItem($event)"
    (selectShoppingItem)="facade.addShoppingItem($event)"
  ></app-grocery-search-result>
</app-list-page>

<ng-template
  #shoppingItem
  let-item
  let-ionList="ionList"
  let-categories="categories"
>
  <app-list-item
    [item]="item"
    [title]="item.quantity + ' x ' + item.name"
    [ionList]="ionList"
    [categories]="categories"
    [crossedOut]="item.state === 'bought'"
    [showQuantityActions]="true"
    [showCartAction]="true"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
    (increment)="changeQuantity(item, +1)"
    (decrement)="changeQuantity(item, -1)"
    (cartItem)="buyItem(item)"
  ></app-list-item>
</ng-template>

<app-edit-shopping-item-dialog></app-edit-shopping-item-dialog>
<app-edit-product-dialog></app-edit-product-dialog>
<app-shopping-action-sheet></app-shopping-action-sheet>
