<app-list-page
  class="ion-page"
  pageHeader="page-title.trackplay-game-types"
  icon="dice"
  [itemTemplate]="gameTypeRow"
/>

<ng-template #gameTypeRow let-item let-ionList="ionList">
  <app-list-item
    [item]="item"
    [title]="item.name"
    [ionList]="ionList"
    [leadingIcon]="'dice'"
    [canDelete]="item.id !== defaultTypeId"
    [startSwipeAction]="editSwipeAction"
    (selectItem)="openEdit(item)"
    (startSwipe)="openEdit(item)"
    (deleteItem)="deleteType(item)"
  >
    <p itemDetails>
      {{
        (item.winHigh
          ? 'trackplay.gametype.win-high'
          : 'trackplay.gametype.win-low'
        ) | translate
      }}
    </p>
  </app-list-item>
</ng-template>

<app-edit-game-type-dialog />
