<ion-toolbar>
  <ion-buttons slot="start">
    @if (sortable()) {
      <ion-button
        data-testid="list-toolbar-sort-az"
        [attr.aria-pressed]="isActive(sortByName.type)"
        (click)="selectSortMode.emit(sortByName.type)"
      >
        {{ sortByName.labelKey | translate }}
        @let nameDirection = directionIcon(sortByName.type);
        @if (nameDirection) {
          <ion-icon slot="end" aria-hidden="true" [name]="nameDirection" />
        }
      </ion-button>
      @for (option of options(); track option.type) {
        <ion-button
          [attr.aria-pressed]="isActive(option.type)"
          (click)="selectSortMode.emit(option.type)"
        >
          {{ option.labelKey | translate }}
          @let optionDirection = directionIcon(option.type);
          @if (optionDirection) {
            <ion-icon slot="end" aria-hidden="true" [name]="optionDirection" />
          }
        </ion-button>
      }
    }
    <ng-content />
  </ion-buttons>
  <ion-buttons slot="end">
    <ng-content select="[toolbarActionsEnd]" />
  </ion-buttons>
</ion-toolbar>
