<app-page-header [label]="'page-title.data' | translate" hideButtons="true">
  <ion-list>
    <ion-item lines="none" class="">
      <ion-button slot="end" size="default" (click)="shareCSV()">
        {{ 'data.page.share' | translate }}
      </ion-button>
      <ion-select
        [value]="viewMode()"
        (ionChange)="selectViewMode($event)"
        [label]="'data.page.view' | translate"
      >
        @for (viewId of viewIds; track viewId) {
          <ion-select-option [value]="viewId">
            {{ viewLabelKeys[viewId] | translate }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>
</app-page-header>

<ion-content>
  <app-sessions-chart />
  <ion-list #ionList>
    @for (item of sessionsByView(); track item.id) {
      <app-stats-item
        [item]="item"
        [view]="viewMode()"
        [ionList]="ionList"
        [canDelete]="viewMode() === 'raw'"
        (deleteItem)="deleteItem(item)"
      />
    } @empty {
      <app-empty-state
        icon="documents-outline"
        [label]="'data.page.empty' | translate"
        [note]="'data.page.empty.note' | translate"
      />
    }
  </ion-list>
</ion-content>
