:host {
  ion-item {
    &.tracking-item-running {
      --ion-background-color: rgba(var(--ion-color-success-rgb), 0.35);
    }
    &.tracking-item-paused {
      --ion-background-color: rgba(var(--ion-color-warning-rgb), 0.18);
    }
  }
}

.status-bar {
  display: flex;
  width: 0.5rem;
  height: 100%;
  margin-right: 1rem;
  ion-text {
    flex: 1;
    background: currentColor;
  }
}
