<app-page-header
  icon="barcode-outline"
  [label]="'page-title.barcode' | translate"
  hideButtons="true"
/>

<ion-content>
  @let barcodeUrl = barcode();
  @if (barcodeUrl) {
    <img
      [src]="barcodeUrl"
      [alt]="'barcode.image.alt' | translate"
      class="barcode"
    />
    <ion-item>
      <ion-button id="present-delete-alert" color="danger" size="small"
        >{{ 'barcode.delete.button' | translate }}
      </ion-button>
      <ion-button (click)="rotateBarcode()" color="secondary" size="small"
        >{{ 'barcode.rotate.button' | translate }}
      </ion-button>
    </ion-item>
  } @else {
    <ion-list>
      <ion-item>
        <app-barcode-input />
      </ion-item>
    </ion-list>
  }
  <ion-alert
    trigger="present-delete-alert"
    [header]="'barcode.delete.header' | translate"
    [message]="'barcode.delete.message' | translate"
    [buttons]="deleteAlertButtons"
  />
</ion-content>
