@let isOfficeDay = todayIsOfficeDay();
<ion-card>
  @if (title()) {
    <ion-card-header>
      <ion-card-title>{{ title() }}</ion-card-title>
    </ion-card-header>
  }
  <ion-card-content>
    <ion-button
      class="dash-button"
      expand="block"
      size="large"
      [disabled]="isOfficeDay ?? false"
      [color]="isOfficeDay ? 'dark' : 'secondary'"
      (click)="addOfficeDay()"
    >
      <div flex-col flex-center-center>
        @if (isOfficeDay) {
          <ion-icon
            name="beer-outline"
            size="large"
            class="ion-margin-bottom"
            aria-hidden="true"
          />
          <p>{{ 'office-time.page.add-office-day.done' | translate }}</p>
        } @else {
          <ion-icon
            name="business-outline"
            size="large"
            class="ion-margin-bottom"
            aria-hidden="true"
          />
          <p>{{ 'office-time.page.add-office-day' | translate }}</p>
        }
      </div>
    </ion-button>
  </ion-card-content>
</ion-card>
