<app-item-edit-modal
  [nameField]="form.name"
  [canSave]="canSave()"
  [isOpen]="isOpen()"
  [saveButtonText]="saveButtonText()"
  [dialogTitle]="dialogTitle()"
  [closeButtonText]="closeButtonText"
  (confirmed)="confirm()"
  (cancelled)="close()"
  (dismissed)="close()"
>
  <ion-item>
    <ion-toggle data-testid="win-high-toggle" [formField]="form.winHigh">
      <ion-label class="ion-text-wrap">
        <h2>{{ 'trackplay.gametype.win-high' | translate }}</h2>
        <p>{{ 'trackplay.gametype.win-high-hint' | translate }}</p>
      </ion-label>
    </ion-toggle>
  </ion-item>
</app-item-edit-modal>
