@if (canAddLocal()) {
  <app-text-item
    [helper]="
      'household.item-list.quick-add.add'
        | translate
          : {
              value: state().searchQuery,
              list: (state().listName ?? '' | translate),
            }
    "
    [color]="state().color"
    [label]="state().searchQuery"
    (selectItem)="addItem()"
  />
}
@if (canAddProduct()) {
  <app-text-item
    [helper]="
      'household.item-list.quick-add.add.product'
        | translate: { value: state().searchQuery }
    "
    [label]="state().searchQuery"
    (selectItem)="createProduct()"
  />
}
