<app-list-page
  class="ion-page"
  pageHeader="{{ 'page-title.groceries-storage' | translate }}"
  listHeader="{{ 'grocery.list-header.storage' | translate }}"
  [itemTemplate]="storageItem"
>
  <app-item-list-quick-add
    quickAdd
    (quickAddItem)="facade.addItemFromSearch()"
    (quickCreateProduct)="facade.showCreateProductDialog()"
  ></app-item-list-quick-add>
  <ion-button (click)="facade.setSortMode('bestBefore')" toolbarActions>{{
    'grocery.list-toolbar.mhd' | translate
  }}</ion-button>
  @if (facade.showScanButton) {
    <ion-button
      (click)="facade.scan()"
      toolbarActions
      [attr.aria-label]="'grocery.a11y.scan' | translate"
    >
      <ion-icon slot="icon-only" name="barcode-outline" aria-hidden="true" />
    </ion-button>
  }
  <app-grocery-search-result
    searchExtras
    [results]="facade.searchResult()"
    [catalog]="facade.catalog()"
    (selectProduct)="facade.addProduct($event)"
    (selectStorageItem)="facade.addStorageItem($event)"
    (selectShoppingItem)="facade.addShoppingItem($event)"
  ></app-grocery-search-result>
</app-list-page>

<ng-template
  #storageItem
  let-item
  let-ionList="ionList"
  let-categories="categories"
>
  <app-list-item
    [item]="item"
    [title]="item.quantity + ' x ' + item.name"
    [ionList]="ionList"
    [categories]="categories"
    [statusColor]="getItemStatusColor(item)"
    [showQuantityActions]="true"
    [startSwipeAction]="startSwipeAction"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
    (increment)="changeQuantity(item, +1)"
    (decrement)="changeQuantity(item, -1)"
    (startSwipe)="copyToShoppingList(item)"
  >
    @if (item.bestBefore) {
      <ng-container itemDetails>
        <ion-note>
          {{ 'grocery.item.best-before.note' | translate }}:
          {{ item.bestBefore | date }}
        </ion-note>
        <br />
      </ng-container>
    }

    @if (item.minAmount) {
      <ion-note itemDetails>
        {{ 'grocery.item.min-amount' | translate }}: {{ item.minAmount }}
      </ion-note>
    }
  </app-list-item>
</ng-template>

<app-edit-storage-item-dialog></app-edit-storage-item-dialog>
<app-edit-product-dialog></app-edit-product-dialog>
