<app-list-page
  class="ion-page"
  pageHeader="page-title.notes"
  [itemTemplate]="noteRow"
/>

<ng-template
  #noteRow
  let-item
  let-ionList="ionList"
  let-reorderable="reorderable"
>
  <app-list-item
    [item]="item"
    [title]="item.name || ('notes.item.untitled' | translate)"
    [ionList]="ionList"
    [leadingIcon]="item.pinned ? 'pin' : undefined"
    [reorderable]="reorderable"
    [startSwipeAction]="swipeActionFor(item)"
    (selectItem)="facade.openNote(item)"
    (startSwipe)="viewImages(item)"
    (deleteItem)="facade.removeItem(item)"
  >
    @if (snippet(item); as text) {
      <ng-container itemDetails>
        <ion-note class="note-snippet">{{ text }}</ion-note>
      </ng-container>
    }

    @if (item.images?.length) {
      <ng-container itemDetails>
        <div class="note-thumbs">
          @for (imageId of item.images; track imageId) {
            <ion-thumbnail>
              <img
                [src]="facade.imageUrls()[imageId]"
                [alt]="'notes.image.alt' | translate"
                loading="lazy"
                decoding="async"
              />
            </ion-thumbnail>
          }
        </div>
      </ng-container>
    }
  </app-list-item>
</ng-template>

<app-note-image-viewer
  [images]="viewedImages()"
  [openAt]="openAt()"
  (rotate)="rotateImage($event)"
  (dismiss)="viewedNoteId.set(undefined)"
/>
