<app-page-header
  label="page-title.trackplay-games"
  icon="dice-outline"
  (addItem)="createGame()"
>
  <ion-button
    slot="end"
    toolbar
    routerLink="/trackplay/players"
    color="primary"
    [attr.aria-label]="'trackplay.a11y.players' | translate"
  >
    <ion-icon slot="icon-only" name="people-outline" aria-hidden="true" />
  </ion-button>
  <ion-button
    slot="end"
    toolbar
    routerLink="/trackplay/game-types"
    color="primary"
    [attr.aria-label]="'trackplay.a11y.game-types' | translate"
  >
    <ion-icon slot="icon-only" name="dice-outline" aria-hidden="true" />
  </ion-button>
  <ion-button
    slot="end"
    toolbar
    (click)="openSettings($event)"
    [color]="settingsActive() ? 'warning' : 'primary'"
    [attr.aria-label]="'trackplay.a11y.settings' | translate"
  >
    <ion-icon slot="icon-only" name="options-outline" aria-hidden="true" />
  </ion-button>
</app-page-header>

<ion-content>
  <p class="sr-hud ion-padding-horizontal">
    {{ 'trackplay.list-header.games' | translate }} ({{ shownCount() }} /
    {{ totalCount() }})
  </p>
  <ion-list #list>
    @if (runningGames().length) {
      <ion-item-divider>
        <ion-label>{{
          'trackplay.list-header.running-games' | translate
        }}</ion-label>
      </ion-item-divider>
      @for (game of runningGames(); track game.id) {
        <app-trackplay-game-list-item
          [game]="game"
          [typeName]="typeName(game)"
          [ionList]="list"
          (selectGame)="goToGame(game.id)"
          (editRequested)="openGameEdit(game)"
          (deleteRequested)="deleteGame(game)"
        />
      }
    }
    @if (endedGames().length) {
      <ion-item-divider>
        <ion-label>{{
          'trackplay.list-header.ended-games' | translate
        }}</ion-label>
      </ion-item-divider>
      @for (game of endedGames(); track game.id) {
        <app-trackplay-game-list-item
          [game]="game"
          [typeName]="typeName(game)"
          [ionList]="list"
          (selectGame)="goToGame(game.id)"
          (editRequested)="openGameEdit(game)"
          (deleteRequested)="deleteGame(game)"
        />
      }
    }
  </ion-list>
</ion-content>
