<app-list-page
  class="ion-page"
  pageHeader="page-title.trackplay-games"
  [itemTemplate]="gameRow"
>
  <ion-button
    headerEnd
    slot="end"
    routerLink="/trackplay/players"
    color="primary"
    [attr.aria-label]="'trackplay.a11y.players' | translate"
  >
    <ion-icon slot="icon-only" name="people-outline" aria-hidden="true" />
  </ion-button>

  <ion-button
    toolbarActions
    (click)="facade.toggleShowEnded()"
    [attr.aria-pressed]="facade.showEndedGames()"
    [attr.aria-label]="'trackplay.settings.show-ended' | translate"
    data-testid="games-show-ended"
  >
    <ion-icon
      slot="icon-only"
      [name]="facade.showEndedGames() ? 'eye-outline' : 'eye-off-outline'"
      aria-hidden="true"
    />
  </ion-button>

  <span toolbarActionsEnd class="tp-count" data-testid="games-count">
    {{ facade.shownCount() }} / {{ facade.totalCount() }}
  </span>
</app-list-page>

<ng-template
  #gameRow
  let-item
  let-ionList="ionList"
  let-categories="categories"
>
  <app-trackplay-game-row
    [item]="item"
    [ionList]="ionList"
    [categories]="categories"
    (selectGame)="goToGame(item.id)"
    (editGame)="openGameEdit(item)"
    (deleteGame)="deleteGame(item)"
  />
</ng-template>

<app-edit-game-dialog />
