<ion-item lines="none">
  <ion-input
    labelPlacement="stacked"
    label="{{ 'edit.item.dialog.name' | translate }}"
    placeholder="{{ 'edit.item.dialog.name.placeholder' | translate }}"
    [value]="value()"
    (ionInput)="onInput($event)"
    (ionBlur)="touchedChange.emit(true)"
  >
    @if (offersEmojiPicker) {
      <ion-button
        slot="end"
        fill="clear"
        [attr.aria-label]="'emoji-picker.open' | translate"
        (click)="pickerOpen.set(true)"
        data-testid="emoji-picker-trigger"
      >
        <ion-icon slot="icon-only" name="happy-outline" aria-hidden="true" />
      </ion-button>
    }
  </ion-input>
</ion-item>
@if (errorText(); as message) {
  <ion-note color="danger" class="sr-field-note">
    {{ message | translate }}
  </ion-note>
}
@if (offersEmojiPicker) {
  <app-emoji-picker
    [isOpen]="pickerOpen()"
    [recent]="recentEmojis()"
    [field]="input()"
    (changed)="value.set($event)"
    (closed)="pickerOpen.set(false)"
    (dismissed)="pickerOpen.set(false)"
  />
}
