<app-item-edit-modal
  [nameField]="form.name"
  [canSave]="canSave()"
  [isOpen]="isOpen()"
  [saveButtonText]="saveButtonText()"
  [dialogTitle]="dialogTitle()"
  [closeButtonText]="closeButtonText"
  (confirmed)="confirm()"
  (cancelled)="close()"
  (dismissed)="close()"
>
  <app-category-input
    [categories]="selectedCategories()"
    (removeCategory)="removeCategory($event)"
    (openDialog)="openCategoriesDialog()"
  />

  <ion-item>
    <ion-select
      interface="popover"
      [label]="'household.item.best-before' | translate"
      [value]="draft().bestBeforeTimespan"
      (ionChange)="setBestBeforeTimespan($event)"
    >
      @for (timespan of timespans; track timespan) {
        <ion-select-option [value]="timespan">{{
          timespanLabelKeys[timespan] | translate
        }}</ion-select-option>
      }
    </ion-select>
  </ion-item>
  <app-number-input
    [disabled]="draft().bestBeforeTimespan === 'forever'"
    [value]="draft().bestBeforeTimevalue"
    (updateValue)="setBestBeforeTimevalue($event)"
  >
    <div slot="label">
      {{ 'household.item.best-before' | translate }}
      <ion-text
        ><small>{{
          'household.item.best-before.count' | translate
        }}</small></ion-text
      >
    </div>
  </app-number-input>

  <app-categories-dialog
    [isOpen]="categoriesDialogOpen()"
    [categories]="categories()"
    [selection]="draft().categoryIds ?? []"
    (confirmed)="confirmCategories($event)"
    (cancelled)="cancelCategories()"
    (dismissed)="cancelCategories()"
    (addNew)="addCategory($event)"
    (deleted)="deleteCategory($event)"
    (renamed)="renameCategory($event)"
  />
</app-item-edit-modal>
