<ion-item [button]="true" (click)="openDialog.emit()">
  <ion-label class="ion-text-wrap">
    {{ 'grocery.edit.item.dialog.categories' | translate }}
    @for (cat of categories(); track cat) {
      <ion-chip color="primary">
        <ion-label class="ion-text-wrap">{{ cat }}</ion-label>
        <ion-icon
          name="close-circle"
          (click)="removeCategory.emit(cat); $event.stopPropagation()"
        ></ion-icon>
      </ion-chip>
    } @empty {
      {{ 'grocery.edit.item.dialog.categories.empty' | translate }}
    }
  </ion-label>
</ion-item>
