<app-grocery-list-page
  class="ion-page"
  listId="_tasks"
  pageHeader="{{ 'grocery.page-title.tasks' | translate }}"
  listHeader="{{ 'grocery.list-header.tasks' | translate }}"
  [itemTemplate]="taskItem"
>
  <ng-container toolbarActions>
    <ion-button (click)="setSortMode('prio')">{{ 'grocery.list-toolbar.prio' | translate }}</ion-button>
    <ion-button (click)="setSortMode('dueAt')">{{ 'grocery.list-toolbar.due' | translate }}</ion-button>
  </ng-container>
</app-grocery-list-page>

<ng-template #taskItem let-item let-ionList="ionList">
  <app-list-item
    [item]="item"
    [title]="item.name"
    [ionList]="ionList"
    [statusColor]="getItemStatusColor(item)"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
  >
    @if (item.dueAt) {
      <ion-note itemDetails>
        {{ 'grocery.item.due.note' | translate }}:
        {{ item.dueAt | date: undefined : undefined : 'de-DE' }}
      </ion-note>
      <br itemDetails />
    }

    @if (item.prio) {
      <ion-note itemDetails>
        {{ 'grocery.item.prio' | translate }}:
        {{ item.prio }}
      </ion-note>
      <br itemDetails />
    }
  </app-list-item>
</ng-template>

<app-edit-task-item-dialog></app-edit-task-item-dialog>
