<app-list-page
  class="ion-page"
  pageHeader="page-title.tasks"
  [itemTemplate]="taskItem"
>
</app-list-page>

<ng-template
  #taskItem
  let-item
  let-ionList="ionList"
  let-categories="categories"
>
  <app-list-item
    [item]="item"
    [title]="item.name"
    [ionList]="ionList"
    [categories]="categories"
    [statusColor]="statusColor(item)"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
  >
    @if (item.dueAt) {
      <ng-container itemDetails>
        <ion-note>
          {{ 'tasks.item.due.note' | translate }}:
          {{ item.dueAt | date }}
        </ion-note>
        <br />
      </ng-container>
    }

    @if (item.prio) {
      <ng-container itemDetails>
        <ion-note>
          {{ 'tasks.item.prio' | translate }}:
          {{ item.prio }}
        </ion-note>
        <br />
      </ng-container>
    }
  </app-list-item>
</ng-template>

<app-edit-task-item-dialog></app-edit-task-item-dialog>
