<app-list-page
  class="ion-page"
  pageHeader="page-title.tasks"
  [itemTemplate]="taskItem"
>
</app-list-page>

<ng-template
  #taskItem
  let-item
  let-ionList="ionList"
  let-categories="categories"
>
  <app-list-item
    [item]="item"
    [title]="item.name"
    [ionList]="ionList"
    [categories]="categories"
    [statusColor]="statusColor(item)"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
  >
    @if (item.dueAt || item.prio) {
      <p itemDetails class="task-facts">
        @if (item.dueAt) {
          <span>
            {{ 'tasks.item.due.note' | translate }}: {{ item.dueAt | date }}
          </span>
        }
        @if (item.prio) {
          <span> {{ 'tasks.item.prio' | translate }}: {{ item.prio }} </span>
        }
      </p>
    }
  </app-list-item>
</ng-template>

<app-edit-task-item-dialog></app-edit-task-item-dialog>
