<ion-modal
  [isOpen]="isOpen()"
  [attr.aria-label]="dialogTitle() | translate"
  (didPresent)="focusName()"
  (didDismiss)="dismissed.emit()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelled.emit()"
            >{{ closeButtonText() | translate }}
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button [disabled]="!canSave()" (click)="confirmed.emit()">{{
            saveButtonText() | translate
          }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <h3 class="ion-padding-start">{{ dialogTitle() | translate }}</h3>
      <ion-list>
        @let name = nameField();
        @if (name) {
          <app-item-name-input
            [formField]="name"
            (submitted)="confirmed.emit()"
          />
        }
        <ng-content />
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
