<ng-template #itemTemplate>
  <ion-item
    button
    (click)="selectCategory.emit()"
    lines="full"
    data-testid="category-row-select"
  >
    <ion-reorder slot="start"></ion-reorder>
    <ion-label class="ion-text-wrap">
      <h2 data-testid="category-row-title">
        {{ category().name }} ({{ count() }})
      </h2>
    </ion-label>
  </ion-item>
</ng-template>

<ion-item-sliding (ionDrag)="deleteOnSwipe($event)">
  <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

  <ion-item-options side="end">
    <ion-item-option
      color="danger"
      [expandable]="true"
      (click)="emitDeleteItem()"
    >
      {{ 'item-list.action.delete' | translate }}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
