@use '../../../../theme/cash';

.cash-hint {
  @include cash.hint(var(--space-3) var(--space-4));
}

ion-buttons[slot='start'] ion-button {
  --padding-start: 0.15rem;
  --padding-end: 0.15rem;
  margin: 0;
}
