<app-list-page
  class="ion-page"
  pageHeader="page-title.cash-rules"
  [itemTemplate]="ruleRow"
>
  <ion-buttons headerEnd slot="end">
    <ion-button
      routerLink="/cash/categories"
      [attr.aria-label]="'cash.a11y.categories' | translate"
    >
      <ion-icon slot="icon-only" name="pricetags-outline" aria-hidden="true" />
    </ion-button>
  </ion-buttons>

  <ion-button
    afterList
    class="cash-rules__apply"
    expand="block"
    fill="outline"
    [disabled]="!facade.items().length"
    (click)="applyRules()"
  >
    <ion-icon slot="start" name="play-outline" aria-hidden="true" />
    {{ 'cash.rules.apply' | translate }}
  </ion-button>
</app-list-page>

<ng-template
  #ruleRow
  let-item
  let-ionList="ionList"
  let-reorderable="reorderable"
>
  <app-list-item
    [item]="item"
    [title]="item.name || categoryName(item.categoryId)"
    [ionList]="ionList"
    [reorderable]="reorderable"
    (selectItem)="openEditRule(item)"
    (deleteItem)="confirmDeleteRule(item)"
  >
    <ng-container itemDetails>
      <p>
        {{ categoryName(item.categoryId) }} ·
        {{ conditionSummaryLabel(item) }}
      </p>
      <p
        class="cash-rule__stat"
        [class.cash-rule__stat--inert]="inert(item)"
        data-testid="cash-rule-stat"
      >
        {{ statLabelKey(item) | translate: { count: claimed(item) } }}
      </p>
    </ng-container>
  </app-list-item>
</ng-template>
