@if (canAddLocal()) {
  <app-text-item
    [color]="state().color"
    helper="{{
      'grocery.item-list.quickadd.add'
        | translate
          : {
              value: state().searchQuery,
              list: (state().listName ?? '' | translate),
            }
    }}"
    [label]="state().searchQuery"
    (selectItem)="quickAddItem.emit()"
  ></app-text-item>
}
@if (canAddProduct()) {
  <app-text-item
    helper="{{
      'grocery.item-list.quickadd.add.product'
        | translate
          : {
              value: state().searchQuery,
              list: state().listName,
            }
    }}"
    [label]="state().searchQuery"
    (selectItem)="quickCreateProduct.emit()"
  ></app-text-item>
}
