<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        {{ 'trackplay.toast.close' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'trackplay.page-title.player' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button strong="true" [disabled]="!canSave()" (click)="confirm()">
        {{ 'trackplay.action.ok' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="{{ 'trackplay.label.name' | translate }}"
        [clearInput]="true"
        [value]="name()"
        (ionInput)="onName($any($event.target).value ?? '')"
        (keyup.enter)="onEnter($event)"
      />
    </ion-item>
  </ion-list>
</ion-content>
