<app-list-page
  class="ion-page"
  pageHeader="page-title.trackplay-players"
  icon="people-outline"
  [itemTemplate]="playerRow"
/>

<ng-template #playerRow let-item let-ionList="ionList">
  <app-list-item
    [item]="item"
    [title]="item.name"
    [ionList]="ionList"
    [leadingIcon]="'person'"
    [startSwipeAction]="editSwipeAction"
    (selectItem)="goToPlayer(item.id)"
    (startSwipe)="openPlayerEdit(item)"
    (deleteItem)="deletePlayer(item)"
  >
    <p itemDetails class="second-line">
      <ion-note>{{ 'trackplay.label.created' | translate }}</ion-note>
      <span class="value">{{ item.createdAt | date: 'short' }}</span>
    </p>
    <p itemDetails class="second-line">
      <ion-note>{{ 'trackplay.label.last-played' | translate }}</ion-note>
      <span class="value">
        @if (item.lastPlayedAt) {
          {{ item.lastPlayedAt | date: 'short' }}
        } @else {
          —
        }
      </span>
    </p>
    @let playerStats = statsFor(item);
    <p itemDetails class="second-line">
      <ion-note>{{ 'trackplay.label.win-loss-open' | translate }}</ion-note>
      <span class="value">{{
        'trackplay.stats.win-loss-open'
          | translate
            : {
                win: playerStats.win,
                loss: playerStats.loss,
                open: playerStats.open,
              }
      }}</span>
    </p>
    <p itemDetails class="second-line">
      <ion-note>{{
        'trackplay.stats.play' | translate: { count: playerStats.play }
      }}</ion-note>
    </p>
  </app-list-item>
</ng-template>

<app-edit-player-dialog />
