:host {
  .second-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .value {
    font-family: var(--sr-deck-font);
    color: var(--sr-text);
  }
}
