<ion-app class="">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>commlink</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <main>
        <ion-list>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/commlink"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="hardware-chip-outline" />
              <ion-label>{{ 'page-title.commlink' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/soykaf"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="cafe-outline" />
              <ion-label>{{ 'page-title.soykaf' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/tracking"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="timer-outline" />
              <ion-label>{{ 'page-title.tracking' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/notifications"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="notifications-outline" />
              <ion-label>{{
                'page-title.notifications' | translate
              }}</ion-label>
              @if (notificationsBadge() > 0) {
                <ion-badge slot="end" color="danger">
                  {{ notificationsBadge() }}
                </ion-badge>
              }
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/office-time"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="business-outline" />
              <ion-label>{{ 'page-title.office-time' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/barcode"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="barcode-outline" />
              <ion-label>{{ 'page-title.barcode' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/shopping/_shopping"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="cart-outline" />
              <ion-label>{{
                'grocery.page-title.shopping' | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/storage/_storage"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="file-tray-stacked-outline" />
              <ion-label>{{
                'grocery.page-title.storage' | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/tasks/_tasks"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="checkbox-outline" />
              <ion-label>{{
                'grocery.page-title.tasks' | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/database/_globals"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="pricetags-outline" />
              <ion-label>{{
                'grocery.page-title.globals' | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/list-settings"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="options-outline" />
              <ion-label>{{
                'grocery.page-title.settings' | translate
              }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/cash"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="wallet-outline" />
              <ion-label>{{ 'cash.page-title.cash' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              [button]="true"
              routerLink="/trackplay"
              color="commlink"
              lines="none"
            >
              <ion-icon slot="start" name="dice-outline" />
              <ion-label>{{ 'trackplay.page-title.games' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </main>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
