<app-page-header
  [color]="color"
  [label]="pageHeader"
  [disabled]="!!rxSearchResult()?.exactMatch"
  (addItem)="showCreateDialog()"
>
  <app-item-list-searchbar
    [query]="rxState()?.searchQuery"
    (queryChange)="searchFor($event)"
    (hitEnter)="addItemFromSearch()"
  ></app-item-list-searchbar>
  <app-item-list-toolbar
    (selectDisplayMode)="setDisplayMode($event)"
    (selectSortMode)="setSortMode($event)"
  >
    <ng-content select="[toolbarActions]"></ng-content>
  </app-item-list-toolbar>
</app-page-header>

<ion-content>
  <app-item-list-quickadd
    (quickCreateCategory)="addCategoryFromSearch()"
    (quickAddItem)="addItemFromSearch()"
    (quickCreateGlobal)="showCreateGlobalDialog()"
  ></app-item-list-quickadd>

  <app-item-list
    [headerColor]="
      rxFilter().isCategoryModeOrHasFilter === true ? 'category' : color
    "
    [header]="
      rxFilter().isCategoryModeOrHasFilter === true
        ? rxFilter().hasFilter === true
          ? ('grocery.list-header.category.filter'
            | translate: { category: rxState()?.filterBy })
          : ('grocery.list-header.category' | translate)
        : listHeader
    "
    [mode]="rxState()?.mode ?? 'alphabetical'"
    [items]="rxItems()"
    [categories]="rxCategories()"
    [itemTemplate]="itemTemplate"
    (selectCategory)="selectCategory($event)"
    (deleteCategory)="deleteCategory($event)"
  >
    <ng-content select="[listActions]"></ng-content>
  </app-item-list>
  @if (rxState()?.mode === 'categories') {
    <app-item-list-empty
      [isEmptyList]="!rxCategories().length"
      [isSearching]="!!rxState()?.searchQuery"
      [searchTerm]="rxState()?.searchQuery"
      (emptyList)="showCreateDialog()"
      (emptySearch)="addCategoryFromSearch()"
    ></app-item-list-empty>
  } @else {
    <app-item-list-empty
      [isEmptyList]="!rxItems()?.length"
      [isSearching]="rxSearchResult()?.hasSearchTerm"
      [searchTerm]="rxSearchResult()?.searchTerm"
      (emptyList)="showCreateDialog()"
      (emptySearch)="addItemFromSearch()"
    ></app-item-list-empty>
  }

  <app-grocery-search-result
    [results]="rxSearchResult()"
    (selectGlobalItem)="addGlobalItem($event)"
    (selectStorageItem)="addStorageItem($event)"
    (selectShoppingItem)="addShoppingItem($event)"
  ></app-grocery-search-result>
</ion-content>

<app-edit-category-dialog />
