<ion-modal
  [isOpen]="isOpen()"
  [attr.aria-label]="'category-picker.dialog' | translate"
  (didDismiss)="dismissed.emit()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelled.emit()"
            >{{ 'category-picker.cancel' | translate }}
          </ion-button>
        </ion-buttons>
        @if (multiple()) {
          <ion-buttons slot="end">
            <ion-button (click)="confirmMultiple()"
              >{{ 'category-picker.confirm' | translate }}
            </ion-button>
          </ion-buttons>
        }
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar
          data-testid="category-picker-search"
          [placeholder]="'category-picker.search' | translate"
          [value]="searchQuery()"
          [debounce]="250"
          (ionInput)="searchbarInput($event)"
          (keyup.enter)="addNewCategory()"
        />
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list
        #list
        role="listbox"
        [inset]="true"
        [attr.aria-multiselectable]="multiple()"
      >
        @if (searchQuery().length && !searchContained()) {
          <ion-item
            color="primary"
            [button]="true"
            [detail]="true"
            (click)="addNewCategory()"
          >
            <ion-label>
              {{
                'category-picker.create' | translate: { name: searchQuery() }
              }}
            </ion-label>
            <ion-note slot="end" color="dark">
              {{ 'category-picker.create-helper' | translate }}
            </ion-note>
          </ion-item>
        }

        @for (category of filteredCategories(); track category.id) {
          <ion-item-sliding>
            @if (editing() === category.id) {
              <ion-item>
                <ion-input
                  [placeholder]="
                    'category-picker.rename-placeholder' | translate
                  "
                  [attr.aria-label]="'categories.a11y.rename' | translate"
                  [value]="renameText()"
                  (ionInput)="renameText.set($any($event.target).value ?? '')"
                  (keyup.enter)="commitEdit()"
                  (keyup.escape)="cancelEdit()"
                  (ionBlur)="commitEdit()"
                />
              </ion-item>
            } @else {
              <ion-item
                role="option"
                [button]="true"
                [attr.aria-selected]="isChecked(category)"
                (click)="rowClick(category)"
              >
                <ion-icon
                  slot="start"
                  name="checkmark-outline"
                  aria-hidden="true"
                  [style.visibility]="
                    isChecked(category) ? 'visible' : 'hidden'
                  "
                />
                <ion-label class="ion-text-wrap">{{ category.name }}</ion-label>
              </ion-item>
            }
            <ion-item-options side="end">
              <ion-item-option
                [attr.aria-label]="'category-picker.edit' | translate"
                (click)="startEdit(category)"
              >
                <ion-icon
                  slot="icon-only"
                  name="create-outline"
                  aria-hidden="true"
                />
              </ion-item-option>
              <ion-item-option
                color="danger"
                [expandable]="true"
                [attr.aria-label]="'category-picker.delete' | translate"
                (click)="deleteCategory(category)"
              >
                <ion-icon
                  slot="icon-only"
                  name="trash-outline"
                  aria-hidden="true"
                />
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        } @empty {
          @if (!searchQuery().length) {
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                {{ 'category-picker.empty' | translate }}<br />
                <ion-note>{{
                  'category-picker.empty-helper' | translate
                }}</ion-note>
              </ion-label>
            </ion-item>
          }
        }
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
