<app-list-page
  class="ion-page"
  returnLabel="page-title.vitals-profile"
  [heading]="facade.heading()"
  [itemTemplate]="pillRow"
  [returnRoute]="'/vitals/profile/' + (facade.profile()?.id ?? '')"
/>

<ng-template #pillRow let-item let-ionList="ionList">
  <app-list-item
    [item]="item"
    [title]="item.name"
    [ionList]="ionList"
    [crossedOut]="facade.isTakenToday(item)"
    [leadingIcon]="item.remind ? 'notifications' : 'notifications-off'"
    [startSwipeAction]="editSwipeAction"
    (selectItem)="openPillEdit(item)"
    (startSwipe)="openPillEdit(item)"
    (deleteItem)="deletePill(item)"
  >
    <p itemDetails class="second-line">
      <ion-note>
        {{ 'vitals.pill.summary' | translate: { dose: item.dose } }} ·
        {{ time(item) }} · {{ item.weekdays | weekdays }}
      </ion-note>
    </p>
  </app-list-item>
</ng-template>

<app-edit-pill-dialog />
