:root {
  --qlock-max-height: unset;
}

:host {
  display: block;
  height: 100%;
  overflow: hidden;

  background-color: var(--sr-bg);
  max-height: var(--qlock-max-height);

  .char-wrapper {
    height: 100%;

    .char-row {
      width: 100%;
      height: 100%;

      .char {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: var(--sr-panel);
        transition: color 1s ease-in-out;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        &.active {
          color: var(--sr-amber);
          text-shadow: var(--sr-glow);
        }
      }
    }
  }

  .minCornerRowTop,
  .minCornerRowBot {
    font-size: 32px;
    line-height: 0;
    position: relative;
  }

  .minCornerRowTop {
    top: 10px;
  }

  .minCornerRowBot {
    bottom: 8px;
  }

  .minCornerLeft,
  .minCornerRight {
    position: absolute;
    transition: color 1s ease-in-out;

    &.active {
      color: var(--sr-amber);
      text-shadow: var(--sr-glow);
    }
  }

  .minCornerLeft {
    left: 4px;
  }

  .minCornerRight {
    right: 4px;
  }
}
