@if (isEmptyList()) {
  <div class="empty">
    @if (isSearching()) {
      <app-text-item
        [label]="
          'item-list.empty.notfound' | translate: { value: searchTerm() }
        "
        [note]="'item-list.empty.notfound.note' | translate"
        (selectItem)="emptySearch.emit()"
      />
    } @else if (isFiltered()) {
      <app-text-item
        [label]="'item-list.empty.filtered' | translate"
        [note]="'item-list.empty.filtered.note' | translate"
        (selectItem)="clearFilter.emit()"
      />
    } @else {
      <app-text-item
        [label]="'item-list.empty.isempty' | translate"
        [note]="'item-list.empty.isempty.note' | translate"
        (selectItem)="emptyList.emit()"
      />
    }
  </div>
}
