<app-page-header hideButtons label="page-title.trackplay-dice">
  <ion-buttons slot="end" toolbar>
    <ion-button
      color="primary"
      data-testid="dice-clear"
      [disabled]="!canRoll()"
      [attr.aria-label]="'trackplay.dice.action.clear' | translate"
      (click)="clearPool()"
    >
      <ion-icon slot="icon-only" name="trash-outline" aria-hidden="true" />
    </ion-button>
  </ion-buttons>
</app-page-header>

<ion-content>
  <app-page-return />

  <div class="dice-page ion-padding">
    <ion-button
      expand="block"
      size="large"
      class="dice-page__throw"
      data-testid="dice-throw"
      [disabled]="!canRoll()"
      (click)="throwDice()"
    >
      <ion-icon slot="start" name="dice-outline" aria-hidden="true" />
      {{ 'trackplay.dice.action.throw' | translate }}
    </ion-button>

    <app-trackplay-dice-tray [roll]="roll()" [throwId]="throwId()" />

    <section class="dice-page__table sr-panel" data-testid="dice-table">
      @if (dice().length) {
        <app-trackplay-dice-rack
          class="dice-page__laid"
          labelKey="trackplay.dice.a11y.take-back"
          [dice]="dice()"
          (picked)="removeDie($event.index)"
        />

        <p class="dice-page__notation" data-testid="dice-notation">
          @for (tally of tally(); track tally.faces) {
            <span class="dice-page__term">
              {{ $first ? '' : '+' }} {{ tally.count
              }}{{ 'trackplay.dice.die' | translate: { faces: tally.faces } }}
            </span>
          }
        </p>
      } @else {
        <app-empty-state [label]="'trackplay.dice.empty' | translate" />
      }
    </section>

    <section class="dice-page__bag" data-testid="dice-bag">
      <app-trackplay-dice-rack
        labelKey="trackplay.dice.a11y.put-on-table"
        [dice]="dieFaces"
        (picked)="addDie($event.faces)"
      />
    </section>
  </div>
</ion-content>
