<app-list-page
  class="ion-page"
  pageHeader="{{ 'page-title.categories' | translate }}"
  listHeader="{{ 'page-title.categories' | translate }}"
  [itemTemplate]="categoryItem"
  [backHref]="facade.listHref()"
>
</app-list-page>

<ng-template #categoryItem let-item let-ionList="ionList">
  <app-list-item
    [item]="item"
    [title]="item.name"
    [ionList]="ionList"
    [startSwipeAction]="startSwipeAction"
    (selectItem)="facade.drillTo(item.id)"
    (startSwipe)="rename(item)"
    (deleteItem)="facade.removeCategory(item)"
  >
    <ng-container itemDetails>
      <ion-note>
        {{ 'categories.count' | translate: { count: count(item.id) } }}
      </ion-note>
    </ng-container>
  </app-list-item>
</ng-template>

<app-edit-category-dialog />
