<app-page-header
  [label]="'grocery.page-title.settings' | translate"
  hideButtons="true"
></app-page-header>

<ion-content>
  <ion-list>
    <ion-list-header>{{
      'grocery.list-settings.section.quick-add' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showQuickAdd"
        (ionChange)="toggleFlag('showQuickAdd')"
        >{{ 'grocery.list-settings.show-quick-add' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showQuickAddProduct"
        (ionChange)="toggleFlag('showQuickAddProduct')"
        >{{
          'grocery.list-settings.show-quick-add-product' | translate
        }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showQuickAddCategory"
        (ionChange)="toggleFlag('showQuickAddCategory')"
        >{{
          'grocery.list-settings.show-quick-add-category' | translate
        }}</ion-toggle
      >
    </ion-item>
    <ion-list-header>{{
      'grocery.list-settings.section.storage-results' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showProductsInStorage"
        (ionChange)="toggleFlag('showProductsInStorage')"
        >{{ 'grocery.list-settings.show-products' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showShoppingInStorage"
        (ionChange)="toggleFlag('showShoppingInStorage')"
        >{{ 'grocery.list-settings.show-shopping' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-list-header>{{
      'grocery.list-settings.section.shopping-results' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showProductsInShopping"
        (ionChange)="toggleFlag('showProductsInShopping')"
        >{{ 'grocery.list-settings.show-products' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showStorageInShopping"
        (ionChange)="toggleFlag('showStorageInShopping')"
        >{{ 'grocery.list-settings.show-storage' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-list-header>{{
      'grocery.list-settings.section.products-results' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showStorageInProducts"
        (ionChange)="toggleFlag('showStorageInProducts')"
        >{{ 'grocery.list-settings.show-storage' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showShoppingInProducts"
        (ionChange)="toggleFlag('showShoppingInProducts')"
        >{{ 'grocery.list-settings.show-shopping' | translate }}</ion-toggle
      >
    </ion-item>
  </ion-list>
</ion-content>
