<app-page-header
  [label]="'page-title.groceries-list-settings' | translate"
  hideButtons="true"
></app-page-header>

<ion-content>
  <ion-list>
    <ion-list-header>{{
      'grocery.list-settings.section.quick-add' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showQuickAdd"
        (ionChange)="toggleFlag('showQuickAdd')"
        data-testid="list-settings-flag-show-quick-add"
        >{{ 'grocery.list-settings.show-quick-add' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showQuickAddProduct"
        (ionChange)="toggleFlag('showQuickAddProduct')"
        data-testid="list-settings-flag-show-quick-add-product"
        >{{
          'grocery.list-settings.show-quick-add-product' | translate
        }}</ion-toggle
      >
    </ion-item>
    <ion-list-header>{{
      'grocery.list-settings.section.storage-results' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showProductsInStorage"
        (ionChange)="toggleFlag('showProductsInStorage')"
        data-testid="list-settings-flag-show-products-in-storage"
        >{{ 'grocery.list-settings.show-products' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showShoppingInStorage"
        (ionChange)="toggleFlag('showShoppingInStorage')"
        data-testid="list-settings-flag-show-shopping-in-storage"
        >{{ 'grocery.list-settings.show-shopping' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-list-header>{{
      'grocery.list-settings.section.shopping-results' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showProductsInShopping"
        (ionChange)="toggleFlag('showProductsInShopping')"
        data-testid="list-settings-flag-show-products-in-shopping"
        >{{ 'grocery.list-settings.show-products' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showStorageInShopping"
        (ionChange)="toggleFlag('showStorageInShopping')"
        data-testid="list-settings-flag-show-storage-in-shopping"
        >{{ 'grocery.list-settings.show-storage' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-list-header>{{
      'grocery.list-settings.section.products-results' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showStorageInProducts"
        (ionChange)="toggleFlag('showStorageInProducts')"
        data-testid="list-settings-flag-show-storage-in-products"
        >{{ 'grocery.list-settings.show-storage' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="!!settings().showShoppingInProducts"
        (ionChange)="toggleFlag('showShoppingInProducts')"
        data-testid="list-settings-flag-show-shopping-in-products"
        >{{ 'grocery.list-settings.show-shopping' | translate }}</ion-toggle
      >
    </ion-item>
  </ion-list>
</ion-content>
