<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        {{ 'cash.action.cancel' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{
        (isEdit() ? 'cash.txn-dialog.title-edit' : 'cash.txn-dialog.title-new')
          | translate
      }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button strong="true" [disabled]="!canSave()" (click)="confirm()">
        {{ 'cash.action.save' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [formField]="form.direction">
    <ion-segment-button value="expense">
      {{ 'cash.txn.expense' | translate }}
    </ion-segment-button>
    <ion-segment-button value="income">
      {{ 'cash.txn.income' | translate }}
    </ion-segment-button>
  </ion-segment>

  <ion-list lines="full">
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="{{ 'cash.label.description' | translate }}"
        [clearInput]="true"
        [formField]="form.description"
      />
    </ion-item>

    <app-money-input
      label="{{ 'cash.label.amount' | translate }}"
      [formField]="form.amountCents"
    />
    @if (amountInvalid()) {
      <ion-note color="danger" class="sr-field-note">
        {{ 'cash.txn-dialog.amount-invalid' | translate }}
      </ion-note>
    }

    <ion-item>
      <ion-input
        labelPlacement="stacked"
        type="date"
        label="{{ 'cash.label.date' | translate }}"
        [formField]="form.date"
      />
    </ion-item>

    <app-cash-category-picker
      [categories]="categories()"
      [formField]="form.categoryId"
      (addNew)="onAddCategory($event)"
      (deleted)="onDeleteCategory($event)"
      (renamed)="onRenameCategory($event)"
    ></app-cash-category-picker>

    <ion-item>
      <ion-toggle [formField]="form.pending">
        {{ 'cash.txn.pending' | translate }}
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
