<app-page-header
  label="page-title.household-list-settings"
  icon="options-outline"
  hideButtons="true"
/>

<ion-content>
  <app-page-return [route]="listHref()" [label]="listTitleKey()" />

  <ion-list>
    <ion-list-header>{{
      'household.list-settings.section.quick-add' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        data-testid="list-settings-flag-show-quick-add"
        [checked]="!!settings().showQuickAdd"
        (ionChange)="toggleFlag('showQuickAdd')"
        >{{ 'household.list-settings.show-quick-add' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        data-testid="list-settings-flag-show-quick-add-product"
        [checked]="!!settings().showQuickAddProduct"
        (ionChange)="toggleFlag('showQuickAddProduct')"
        >{{
          'household.list-settings.show-quick-add-product' | translate
        }}</ion-toggle
      >
    </ion-item>
    <ion-list-header>{{
      'household.list-settings.section.storage-results' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        data-testid="list-settings-flag-show-products-in-storage"
        [checked]="!!settings().showProductsInStorage"
        (ionChange)="toggleFlag('showProductsInStorage')"
        >{{ 'household.list-settings.show-products' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        data-testid="list-settings-flag-show-shopping-in-storage"
        [checked]="!!settings().showShoppingInStorage"
        (ionChange)="toggleFlag('showShoppingInStorage')"
        >{{ 'household.list-settings.show-shopping' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-list-header>{{
      'household.list-settings.section.shopping-results' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        data-testid="list-settings-flag-show-products-in-shopping"
        [checked]="!!settings().showProductsInShopping"
        (ionChange)="toggleFlag('showProductsInShopping')"
        >{{ 'household.list-settings.show-products' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        data-testid="list-settings-flag-show-storage-in-shopping"
        [checked]="!!settings().showStorageInShopping"
        (ionChange)="toggleFlag('showStorageInShopping')"
        >{{ 'household.list-settings.show-storage' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-list-header>{{
      'household.list-settings.section.products-results' | translate
    }}</ion-list-header>
    <ion-item>
      <ion-toggle
        data-testid="list-settings-flag-show-storage-in-products"
        [checked]="!!settings().showStorageInProducts"
        (ionChange)="toggleFlag('showStorageInProducts')"
        >{{ 'household.list-settings.show-storage' | translate }}</ion-toggle
      >
    </ion-item>
    <ion-item>
      <ion-toggle
        data-testid="list-settings-flag-show-shopping-in-products"
        [checked]="!!settings().showShoppingInProducts"
        (ionChange)="toggleFlag('showShoppingInProducts')"
        >{{ 'household.list-settings.show-shopping' | translate }}</ion-toggle
      >
    </ion-item>
  </ion-list>
</ion-content>
