<app-item-edit-modal
  [nameField]="form.name"
  [canSave]="canSave()"
  [isOpen]="isOpen()"
  [saveButtonText]="saveButtonText()"
  [dialogTitle]="dialogTitle()"
  [closeButtonText]="closeButtonText"
  (confirmed)="confirm()"
  (cancelled)="close()"
  (dismissed)="close()"
>
  <ion-toggle
    dialogTitleEnd
    labelPlacement="start"
    [checked]="!!draft().doneAt"
    (ionChange)="updateDone($event.detail.checked)"
    >{{ 'tasks.item.done' | translate }}</ion-toggle
  >

  <app-category-input
    [categories]="selectedCategories()"
    (removeCategory)="removeCategory($event)"
    (openDialog)="openCategoriesDialog()"
  />

  <app-number-select
    clearBtn
    [max]="6"
    [label]="'tasks.item.prio' | translate"
    [clearLabel]="'tasks.item.prio.clear' | translate"
    [value]="draft().prio"
    (valueChange)="updatePrio($event)"
  />

  <app-date-input
    [label]="'edit.item.dialog.dueAt' | translate"
    [value]="draft().dueAt ?? ''"
    (valueChange)="updateDueAt($event)"
  />
  <app-date-shortcuts
    [value]="draft().dueAt ?? ''"
    (picked)="updateDueAt($event)"
  />

  <app-interval-input
    [label]="'tasks.item.interval' | translate"
    [weekdayLabel]="'tasks.item.interval.weekdays' | translate"
    [monthLabel]="'tasks.item.interval.months' | translate"
    [value]="draft().interval"
    (valueChange)="updateInterval($event)"
  />

  @if (draft().interval) {
    @if (anchorChoice()) {
      <app-option-chips
        [label]="'tasks.item.anchor' | translate"
        [options]="anchorOptions()"
        [value]="draft().anchor ?? 'done'"
        (picked)="updateAnchor($event)"
      />
    }

    <app-option-chips
      [label]="'tasks.item.lead' | translate"
      [options]="leadOptions()"
      [value]="draft().lead ?? onDayLead"
      (picked)="updateLead($event)"
    />
  }

  <app-categories-dialog
    [isOpen]="categoriesDialogOpen()"
    [categories]="categories()"
    [selection]="draft().categoryIds ?? []"
    (confirmed)="confirmCategories($event)"
    (cancelled)="cancelCategories()"
    (dismissed)="cancelCategories()"
    (addNew)="addCategory($event)"
    (deleted)="deleteCategory($event)"
    (renamed)="renameCategory($event)"
  />
</app-item-edit-modal>
