<app-item-edit-modal
  [nameField]="form.name"
  [canSave]="canSave()"
  [isOpen]="isOpen()"
  [saveButtonText]="saveButtonText()"
  [dialogTitle]="dialogTitle()"
  [closeButtonText]="closeButtonText"
  (confirmed)="confirm()"
  (cancelled)="close()"
  (dismissed)="close()"
>
  <app-category-input
    [categories]="selectedCategories()"
    (removeCategory)="removeCategory($event)"
    (openDialog)="openCategoriesDialog()"
  />

  <app-number-input
    [label]="'tasks.item.prio' | translate"
    [value]="draft().prio"
    (updateValue)="updatePrio($event)"
  />

  <app-date-input
    [label]="'edit.item.dialog.dueAt' | translate"
    [value]="draft().dueAt ?? null"
    (valueChange)="updateDueAt($event)"
  />

  <ion-item>
    <ion-toggle
      [checked]="!!draft().doneAt"
      (ionChange)="updateDone($event.detail.checked)"
      >{{ 'tasks.item.done' | translate }}</ion-toggle
    >
  </ion-item>

  <app-categories-dialog
    [isOpen]="categoriesDialogOpen()"
    [categories]="categories()"
    [selection]="draft().categoryIds ?? []"
    (confirmed)="confirmCategories($event)"
    (cancelled)="cancelCategories()"
    (dismissed)="cancelCategories()"
    (addNew)="addCategory($event)"
    (deleted)="deleteCategory($event)"
    (renamed)="renameCategory($event)"
  />
</app-item-edit-modal>
