<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        {{ 'trackplay.toast.close' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'page-title.trackplay-game' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button strong="true" [disabled]="!canSave()" (click)="confirm()">
        {{ 'trackplay.action.ok' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-input
        labelPlacement="stacked"
        label="{{ 'trackplay.label.name' | translate }}"
        [clearInput]="true"
        [formField]="form.name"
        data-testid="game-name-input"
      />
    </ion-item>

    <ion-item>
      <ion-select
        labelPlacement="stacked"
        label="{{ 'trackplay.label.game-type' | translate }}"
        [formField]="form.typeId"
        data-testid="game-type-select"
      >
        @for (type of rxGameTypes(); track type.id) {
          <ion-select-option [value]="type.id">{{
            type.name
          }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list-header>{{ 'trackplay.label.players' | translate }}</ion-list-header>
  <app-trackplay-player-select
    [players]="rxPlayers()"
    [selectedIds]="initialPlayerIds()"
    (selectionChange)="patch({ playerIds: $event })"
  />

  <ion-button
    expand="block"
    class="tp-play-btn"
    [disabled]="!canPlay()"
    (click)="goToGame()"
  >
    <ion-icon slot="start" name="play-circle" aria-hidden="true" />
    {{ 'trackplay.action.continue' | translate }}
  </ion-button>
</ion-content>
