<app-list-page
  class="ion-page"
  icon="restaurant-outline"
  pageHeader="page-title.soykaf"
  [itemTemplate]="recipeRow"
>
  <p beforeList class="sr-hud ion-padding-horizontal">
    {{ 'household.recipe.list-header' | translate }} ({{
      facade.cookableCount()
    }}
    / {{ facade.matches().length }})
  </p>
</app-list-page>

<ng-template #recipeRow let-item let-ionList="ionList">
  <app-list-item
    [item]="item"
    [title]="item.name"
    [ionList]="ionList"
    (selectItem)="edit(item)"
    (deleteItem)="remove(item)"
  >
    <ng-container itemDetails>
      <ion-note>{{
        'household.recipe.meta'
          | translate
            : {
                servings: item.servings,
                minutes: item.prepMinutes,
              }
      }}</ion-note>

      @let absent = missing(item);
      @if (absent.length) {
        <p class="recipe-missing">
          {{
            'household.recipe.missing' | translate: { names: absent.join(', ') }
          }}
        </p>
      } @else {
        <p class="recipe-ready">
          <i class="sr-led sr-led--on"></i>
          {{ 'household.recipe.cookable' | translate }}
        </p>
      }
    </ng-container>
  </app-list-item>
</ng-template>

<app-edit-recipe-dialog />
