<ion-modal
  [isOpen]="rxCategoryState().isEditing === true"
  (didDismiss)="closedDialog()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelChanges()"
            >{{ 'grocery.edit-item.dialog.button.close' | translate }}
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="submitChanges()">{{
            rxState().saveButtonText ?? '' | translate
          }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <h3 class="ion-padding-start">
        {{ rxState().dialogTitle ?? '' | translate }}
      </h3>
      <ion-list>
        <ion-item lines="none">
          <ion-input
            label="{{ 'grocery.edit.item.dialog.name' | translate }}"
            placeholder="{{
              'grocery.edit.item.dialog.name.placeholder' | translate
            }}"
            [value]="rxCategoryState().editItem"
            (ionInput)="updateCategory($event)"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
