<ion-header>
  <ion-toolbar [color]="color()">
    <ion-buttons slot="start">
      <ion-menu-button />
    </ion-buttons>
    @if (label()) {
      <div class="sr-brand">
        @if (icon()) {
          <ion-icon [name]="icon()" class="sr-brand__icon" aria-hidden="true" />
        }
        <span class="sr-brand__name">{{ label() | translate }}</span>
      </div>
    }
    <ng-content select="[toolbar]" />
    @if (!hideButtons()) {
      <ion-buttons slot="end">
        <ion-button
          (click)="addItem.emit()"
          [disabled]="disabled()"
          [attr.aria-label]="'a11y.add-item' | translate"
        >
          <ion-icon name="add" slot="icon-only" aria-hidden="true" />
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
  <ng-content />
</ion-header>
