<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button [attr.aria-label]="'a11y.menu' | translate" />
    </ion-buttons>
    @if (label() || heading()) {
      <div class="sr-brand">
        @if (glyph()) {
          <ion-icon
            [name]="glyph()"
            class="sr-brand__icon"
            aria-hidden="true"
          />
        }
        <span class="sr-brand__name" data-testid="page-header-title">{{
          label() ? (label() | translate) : heading()
        }}</span>
      </div>
    }
    <ng-content select="[toolbar]" />
    @if (!hideButtons()) {
      <ion-buttons slot="end">
        <ion-button
          (click)="addItem.emit()"
          [disabled]="disabled()"
          [attr.aria-label]="'a11y.add-item' | translate"
          data-testid="page-header-add"
        >
          <ion-icon name="add" slot="icon-only" aria-hidden="true" />
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
  <ng-content />
</ion-header>
