<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        {{ 'cash.action.cancel' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'cash.transfer.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button strong="true" [disabled]="!canSave()" (click)="confirm()">
        {{ 'cash.action.save' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item>
      <ion-select
        labelPlacement="stacked"
        [label]="'cash.transfer.from' | translate"
        [formField]="form.fromId"
      >
        @for (account of accounts(); track account.id) {
          <ion-select-option [value]="account.id">{{
            account.name
          }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select
        labelPlacement="stacked"
        [label]="'cash.transfer.to' | translate"
        [formField]="form.toId"
      >
        @for (account of accounts(); track account.id) {
          <ion-select-option [value]="account.id">{{
            account.name
          }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    @if (sameAccount()) {
      <ion-note color="danger" class="sr-field-note">
        {{ 'cash.transfer.same-account' | translate }}
      </ion-note>
    }

    <app-money-input
      [label]="'cash.label.amount' | translate"
      [formField]="form.amountCents"
    />
    @if (amountInvalid()) {
      <ion-note color="danger" class="sr-field-note">
        {{ 'cash.txn-dialog.amount-invalid' | translate }}
      </ion-note>
    }

    <ion-item>
      <ion-input
        labelPlacement="stacked"
        type="date"
        [label]="'cash.label.date' | translate"
        [formField]="form.date"
      />
    </ion-item>

    <ion-item>
      <ion-input
        labelPlacement="stacked"
        [label]="'cash.label.description' | translate"
        [clearInput]="true"
        [formField]="form.description"
      />
    </ion-item>
  </ion-list>
</ion-content>
