<app-item-edit-modal
  [nameField]="form.name"
  [canSave]="canSave()"
  [isOpen]="isOpen()"
  [saveButtonText]="saveButtonText()"
  [dialogTitle]="dialogTitle()"
  [closeButtonText]="closeButtonText"
  (confirmed)="confirm()"
  (cancelled)="close()"
  (dismissed)="close()"
>
  <app-money-input
    label="{{ 'cash.label.amount' | translate }}"
    [formField]="form.amountCents"
  />
  @if (amountInvalid()) {
    <ion-note color="danger" class="sr-field-note">
      {{ 'cash.txn-dialog.amount-invalid' | translate }}
    </ion-note>
  }

  <ion-item>
    <ion-select
      labelPlacement="stacked"
      label="{{ 'cash.label.period' | translate }}"
      [formField]="form.periodMonths"
    >
      @for (period of periods; track period) {
        <ion-select-option [value]="period">
          {{ 'cash.period.months' | translate: { count: period } }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-input
      labelPlacement="stacked"
      type="date"
      label="{{ 'cash.label.next-due' | translate }}"
      [formField]="form.nextDue"
      data-testid="schedule-next-due"
    />
  </ion-item>

  <app-cash-category-picker [formField]="form.categoryId" />

  <ion-segment class="cash-schedule-dialog__match" [formField]="form.match">
    <ion-segment-button value="all">
      {{ 'cash.match.all' | translate }}
    </ion-segment-button>
    <ion-segment-button value="any">
      {{ 'cash.match.any' | translate }}
    </ion-segment-button>
  </ion-segment>

  <ion-list-header>{{ 'cash.label.conditions' | translate }}</ion-list-header>
  <app-cash-condition-rows
    [conditions]="form.conditions"
    [amountInvalidRows]="amountInvalidRows()"
    (fieldPicked)="onField($event.index, $event.field)"
    (removed)="removeCondition($event)"
  />

  <app-cash-match-preview
    [conditionSet]="conditionSet()"
    [categoryId]="draft().categoryId"
  />

  <ion-button
    expand="block"
    fill="outline"
    class="ion-margin-top"
    (click)="addCondition()"
  >
    <ion-icon slot="start" name="add-outline" aria-hidden="true" />
    {{ 'cash.condition.add' | translate }}
  </ion-button>
</app-item-edit-modal>
