<app-list-page
  class="ion-page"
  pageHeader="page-title.household-shopping"
  [itemTemplate]="shoppingItem"
>
  <app-item-list-quick-add beforeList />
  <app-household-search-panel beforeList />
  <ng-container toolbarActionsEnd>
    @if (state().items.length) {
      <ion-button
        [attr.aria-label]="'household.a11y.actions' | translate"
        (click)="openActionSheet()"
      >
        <ion-icon name="bag-add-outline" slot="icon-only" aria-hidden="true" />
      </ion-button>
    }
  </ng-container>
  <app-household-list-settings-button toolbarActionsEnd />
</app-list-page>

<ng-template
  #shoppingItem
  let-item
  let-ionList="ionList"
  let-categories="categories"
>
  <app-list-item
    [item]="item"
    [title]="item.quantity + ' x ' + item.name"
    [ionList]="ionList"
    [categories]="categories"
    [crossedOut]="item.state === 'bought'"
    [showQuantityActions]="true"
    [startSwipeAction]="startSwipeAction"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
    (increment)="changeQuantity(item, +1)"
    (decrement)="changeQuantity(item, -1)"
    (startSwipe)="buyItem(item)"
  />
</ng-template>

<app-edit-shopping-item-dialog />
<app-edit-product-dialog />
<app-shopping-action-sheet />
