<app-item-edit-modal
  [nameField]="form.name"
  [canSave]="canSave()"
  [isOpen]="isOpen()"
  [saveButtonText]="saveButtonText()"
  [dialogTitle]="dialogTitle()"
  [closeButtonText]="closeButtonText"
  (confirmed)="confirm()"
  (cancelled)="close()"
  (dismissed)="close()"
>
  <app-cash-category-picker [formField]="form.categoryId" />

  <ion-segment class="cash-rule-dialog__match" [formField]="form.match">
    <ion-segment-button value="all">
      {{ 'cash.match.all' | translate }}
    </ion-segment-button>
    <ion-segment-button value="any">
      {{ 'cash.match.any' | translate }}
    </ion-segment-button>
  </ion-segment>

  <ion-list-header>{{ 'cash.label.conditions' | translate }}</ion-list-header>
  <app-cash-condition-rows
    [conditions]="form.conditions"
    [amountInvalidRows]="amountInvalidRows()"
    (fieldPicked)="onField($event.index, $event.field)"
    (removed)="removeCondition($event)"
  />

  <app-cash-match-preview
    [conditionSet]="conditionSet()"
    [categoryId]="draft().categoryId"
  />

  <ion-button
    expand="block"
    fill="outline"
    class="ion-margin-top"
    (click)="addCondition()"
  >
    <ion-icon slot="start" name="add-outline" aria-hidden="true" />
    {{ 'cash.condition.add' | translate }}
  </ion-button>
</app-item-edit-modal>
