<app-list-page
  class="ion-page"
  pageHeader="page-title.tracking"
  [itemTemplate]="trackingItem"
>
  <ion-button
    headerEnd
    slot="end"
    fill="clear"
    routerLink="/data"
    [attr.aria-label]="'tracking.a11y.daily-view' | translate"
    data-testid="tracking-daily-view-link"
  >
    <ion-icon
      slot="icon-only"
      icon="settings-sharp"
      color="primary"
      aria-hidden="true"
    />
  </ion-button>

  <ng-container toolbarActionsEnd>
    <span class="tracking-total">{{ total() }}</span>
    <ion-button (click)="resetAll()"
      ><ion-icon [icon]="'trash'" slot="start" aria-hidden="true" />
      {{ 'tracking.action.reset-all' | translate }}</ion-button
    >
    <ion-button (click)="saveAndResetAll()"
      ><ion-icon [icon]="'save'" slot="start" aria-hidden="true" />
      {{ 'tracking.action.save-and-reset' | translate }}</ion-button
    >
    @if (isDev) {
      <ion-button color="warning" (click)="seedDemoSessions()"
        ><ion-icon [icon]="'flask'" slot="start" aria-hidden="true" />
        {{ 'tracking.action.generate-dummy-data' | translate }}</ion-button
      >
      <ion-button color="warning" (click)="generateTaskByTicket()"
        ><ion-icon [icon]="'flask'" slot="start" aria-hidden="true" /> add
        ticket</ion-button
      >
    }
  </ng-container>

  <div afterList class="after-list">
    <app-daily-sessions />
  </div>
</app-list-page>

<ng-template #trackingItem let-item let-ionList="ionList">
  <app-tracking-item
    [item]="item"
    [ionList]="ionList"
    (editItem)="showEditDialog(item)"
    (resetItem)="resetItem(item)"
    (selectItem)="toggleTracking(item)"
    (deleteItem)="removeItem(item)"
  />
</ng-template>

<app-edit-tracking-item-dialog />
