<ion-list #ionList>
  @if (header()) {
    @if (listHeader()) {
      <ion-list-header [color]="headerColor()">
        <ion-label>{{ header() }}</ion-label>
      </ion-list-header>
    } @else {
      <ion-toolbar [color]="headerColor()">
        <ion-label class="ion-padding-start">
          {{ header() }}
        </ion-label>
        <ng-content />
      </ion-toolbar>
    }
  }
  @if (mode() === 'categories') {
    <ng-container *ngTemplateOutlet="categoryMode" />
  } @else {
    <ng-container *ngTemplateOutlet="listMode" />
  }
</ion-list>

<ng-template #categoryMode>
  @for (cat of categories(); track cat.category.id) {
    <app-category-item
      [category]="cat.category"
      [count]="cat.count"
      [ionList]="ionList"
      (selectCategory)="selectCategory.emit(cat.category.id)"
      (deleteCategory)="deleteCategory.emit(cat.category.id)"
    />
  }
</ng-template>

<ng-template #listMode>
  @for (item of items(); track item.id) {
    <ng-container
      *ngTemplateOutlet="
        itemTemplate();
        context: { $implicit: item, ionList: ionList, categories: catalog() }
      "
    />
  }
</ng-template>
