<app-list-page
  class="ion-page"
  pageHeader="{{ 'page-title.groceries-products' | translate }}"
  listHeader="{{ 'grocery.list-header.products' | translate }}"
  [itemTemplate]="productItem"
>
  <app-item-list-quick-add
    quickAdd
    (quickAddItem)="facade.addItemFromSearch()"
    (quickCreateCategory)="facade.addCategoryFromSearch()"
    (quickCreateProduct)="facade.showCreateProductDialog()"
  ></app-item-list-quick-add>
  <app-grocery-search-result
    searchExtras
    [results]="facade.searchResult()"
    [catalog]="facade.state()?.categories ?? []"
    (selectProduct)="facade.addProduct($event)"
    (selectStorageItem)="facade.addStorageItem($event)"
    (selectShoppingItem)="facade.addShoppingItem($event)"
  ></app-grocery-search-result>
</app-list-page>

<ng-template
  #productItem
  let-item
  let-ionList="ionList"
  let-categories="categories"
>
  <app-list-item
    [item]="item"
    [title]="item.name"
    [ionList]="ionList"
    [categories]="categories"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
  ></app-list-item>
</ng-template>

<app-edit-product-dialog></app-edit-product-dialog>
